<ons-page>
    <ons-toolbar>
        <div class="left">
            <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">{{ currentBook.title }}</div>
    </ons-toolbar>

    <ons-list modifier="inset" class="details-list">
        <ons-list-item class="center">
            <center>
                <img ng-src="{{ baseUrl }}viewBooks/download/{{ currentBook.pic }}" alt="book_cover" height="240" width="180">
            </center>
        </ons-list-item>

        <ons-list-item>
            <ons-row>
                <ons-col width="30%">
                    <strong>Library:</strong>
                </ons-col>
                <ons-col>
                    <span>{{ currentBook.lib_name}}</span>
                </ons-col>
            </ons-row>
        </ons-list-item>

        <ons-list-item>
            <ons-row>
                <ons-col width="30%">
                    <strong>Location:</strong>
                </ons-col>
                <ons-col>
                    <span>{{ currentBook.library.address}}</span>
                </ons-col>
            </ons-row>
        </ons-list-item>

        <ons-list-item>
            <ons-row>
                <ons-col width="30%">
                    <strong>Status:</strong>
                </ons-col>
                <ons-col>
                    <div ng-if="currentBook.available_copies>0">
                        <span>Available</span>
                    </div>
                    <div ng-if="currentBook.available_copies<=0">
                        <span>Not Available</span>
                    </div>
                </ons-col>
            </ons-row>
        </ons-list-item>

        <ons-list-item>
            <ons-row>
                <ons-col width="30%" ons-if-orientation="landscape">
                    <strong>Number of Copies:</strong>
                </ons-col>
                <ons-col ons-if-orientation="portrait">
                    <strong>Number of Copies:</strong>
                </ons-col>      
                <ons-col>
                    <span>{{ currentBook.no_of_copies}}</span>
                </ons-col>
            </ons-row>
        </ons-list-item>

        <ons-list-item>
            <ons-row>
                <ons-col width="30%" ons-if-orientation="landscape">        
                    <strong>Available Copies:</strong>
                </ons-col>
                <ons-col ons-if-orientation="portrait">        
                    <strong>Available Copies:</strong>
                </ons-col>
                <ons-col>
                    <span>{{ currentBook.available_copies}}</span>
                </ons-col>
            </ons-row>
        </ons-list-item>

        <ons-list-item>
            <ons-row>
                <ons-col width="30%">
                    <strong>ISBN:</strong>
                </ons-col>
                <ons-col>
                    <span>{{ currentBook.ISBN}}</span>
                </ons-col>
            </ons-row>
        </ons-list-item>

        <ons-list-item>
            <ons-row>
                <ons-col width="30%">         
                    <strong>Publisher:</strong>
                </ons-col>
                <ons-col>
                    <span>{{ currentBook.publisher }}</span>
                </ons-col>
            </ons-row>
        </ons-list-item>        

        <ons-list-item>
            <ons-row>
                <ons-col width="30%">     
                    <strong>Authors:</strong>
                </ons-col>
                <ons-col>   
                    <div data-ng-repeat="author in currentBook.authors">{{ author.lname}}, {{author.fname}} {{author.middle_initial}}.</div>
                </ons-col>
            </ons-row>
        </ons-list-item>
        
        <ons-list-item>
            <strong>Description:</strong>
            <p class="description" align="justify">{{ currentBook.description }}</p>
        </ons-list-item>
    </ons-list>

</ons-page>
