<ons-navigator var="mainnav">
    <ons-page>
        <ons-toolbar>
            
        </ons-toolbar>

        <ons-row class="search_container">
          <ons-col align="center">
            <img src="img/mlbc.png" alt="mlbc">
            <input type="search" class="search-input" placeholder="Search" data-ng-model="searchQuery" ng-change="searchBook(searchQuery)">
          </ons-col>
        </ons-row>

        <ons-list style="border-top: none;">
            <ons-list-item modifier="chevron" class="item" ng-repeat="book in books" ng-click="viewSpecificBookInfo(book.ISBN)" page="settings.html">
                <ons-row>
                    <ons-col width="20%">
                        <div class="item-thum">
                            <img ng-src="{{ baseUrl }}viewBooks/download/{{ book.pic }}" alt="book_cover">
                        </div>
                    </ons-col>
                    <ons-col>
                        <span class="item-title">{{ book.title }}</span>
                        <span class="item-isbn"></span>
                    </ons-col>
                </ons-row>
            </ons-list-item>
        </ons-list>
    </ons-page>
</ons-navigator>
