<ons-page ng-controller="settingsController">
    <ons-modal var="remoteURLModal">
            <div>Web Server URL</div>
            <br>
            <div>
                <input type="url" style="padding: 10px;" ng-model="url">
            </div>
            <br>
            <div>
                <ons-button style="margin: 5px;" ng-click="hideRemoteURLModal(true)">Save</ons-button>
                <ons-button style="margin: 5px;" ng-click="hideRemoteURLModal(false)">Cancel</ons-button>
            </div>
    </ons-modal>

    <ons-toolbar>
        <div class="center">Settings</div>
    </ons-toolbar>

    <div class="settings-header">App Settings</div>

    <ons-list modifier="inset" class="settings-list">
        <ons-list-item modifier="chevron" ng-click="showRemoteURLModal()">
            <div class="left">Web Server URL</div>
            <div class="right">{{ remoteURL }}</div>
        </ons-list-item>
    </ons-list>

</ons-page>
