<div id="confirm" class="modal" aria-labelledby="confirmDeleteLabel" aria-hidden="true" style="margin-top: 5%">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
        <div class="modal-header" style="padding-bottom: 0">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h3><span id="confirm-title"></span></h3>
        </div>
        <div class="modal-body">
          <p><span id="confirm-text"></span></p>
        </div>
        <div class="modal-footer">
          <button type="button" id="confirm-okBtn" data-dismiss="modal" class="btn btn-primary">OK</button>
          <button type="button" id="confirm-cancelBtn" data-dismiss="modal" class="btn">Cancel</button>
        </div>
    </div>
  </div>
</div>