
.modal{
	overflow-y: auto;
}

#search-button:hover{
	cursor:pointer
}

#mode-selected{
	min-width: 155px;
}

#search-input{
	min-width: 500px;
}

#borrow-button, #return-button{
	margin: 0 3px
}

#loading-indicator {
  position: absolute;
  left: 10px;
  top: 10px;
}
#header{
	text-align: center;
}
#data-container{
}
#report_options {
}

.transaction{
	margin-top: 5px;
	height:25px;
	width: 100%;
}

#borrowList{
	border-bottom: 1px solid white;
}

#historyList{
	border-top: 1px solid white;
}

#historyButton, #borrowButton{
	width: 100%;
	margin-top: 5px;
}