{{extend 'libman/template.html'}}
<div class="row">
  <div id="header" class="col-md-12"></div >
  <div class="col-md-12">
    <div id="report_options" class="col-md-3">

      <ul class="list-group">
        <li class="list-group-item list-group-item-info" id="borrowList">
          <span>View most borrowed books</span>
          <span class="badge-info pull-right"><span class="glyphicon glyphicon-chevron-down"></span></span>
        </li>
        
          <li class="list-group-item" id="borrowListData">
              <ul class="nav nav-pills" role="tablist">
                <li class="active"><a style="padding:5px" href="#bdate" role="tab" data-toggle="tab" id="borDay">Day</a></li>
                <li><a style="padding:5px" href="#bmonth" role="tab" data-toggle="tab" id="borMonth">Month</a></li>
                <li><a style="padding:5px" href="#byear" role="tab" data-toggle="tab" id="borYear">Year</a></li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane fade in active" id="bdate">
                  <form>
                    <input class="transaction" type="date" name="bdate" id="borDayInput">
                    <button id="borrowButtonD" type="button" class="btn btn-primary">Submit</button>
                  </form>
                </div>
                <div class="tab-pane fade" id="bmonth">
                  <form>
                    <input class="transaction" type="month" name="bmonth" id="borMonthInput">
                    <button id="borrowButtonM" type="button" class="btn btn-primary">Submit</button>
                  </form>
                </div>
                <div class="tab-pane fade" id="byear">
                  <form>
                    <input type="number" name="byear" style="padding:0px 5px;height:25px;margin-top:5px" class="form-control"   min="1990" max="2030" step="1" value="2014" id="borYearInput">
                    <button id="borrowButtonY" type="button" class="btn btn-primary">Submit</button>
                  </form>
                </div>
              </div>
          </li>
        </form>

        <li class="list-group-item list-group-item-info" id="historyList">
          <span>View library transaction history</span>
          <span class="badge-info  pull-right"><span class="glyphicon glyphicon-chevron-down"></span></span>
        </li>
          <li class="list-group-item" id="historyListData">
              <ul class="nav nav-pills" role="tablist">
                <li class="active"><a style="padding:5px" href="#hdate" role="tab" data-toggle="tab" id="histDay">Day</a></li>
                <li ><a style="padding:5px" href="#hmonth" role="tab" data-toggle="tab" id="histMonth">Month</a></li>
                <li ><a style="padding:5px" href="#hyear" role="tab" data-toggle="tab" id="histYear">Year</a></li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane fade in active" id="hdate">
                  <form>
                    <input class="transaction" type="date" name="hdate" id="histInputD">
                    <select name="lib_name" style="padding:0px;height:25px;margin-top:5px" class="form-control" id="hlibD">
                      <option value="COE-Library" id="hCOED">COE-Library</option>
                      <option value="SET-Library" id="hSETD">SET-Library</option>
                    </select>
                    <button id="historyButtonD" type="button" class="btn btn-primary">Submit</button>
                  </form>
                </div>
                <div class="tab-pane fade" id="hmonth">
                  <form>
                    <input class="transaction" type="month" name="hmonth" id="histInputM">
                    <select name="lib_name" style="padding:0px;height:25px;margin-top:5px" class="form-control" id="hlibM">
                      <option value="COE-Library" id="hCOEM">COE-Library</option>
                      <option value="SET-Library" id="hSETM">SET-Library</option>
                    </select>
                    <button id="historyButtonM" type="button" class="btn btn-primary">Submit</button>
                  </form>
                </div>
                <div class="tab-pane fade" id="hyear">
                  <form>
                    <input style="padding:0px 5px;height:25px;margin-top:5px" class="form-control" type="number" name="hyear" min="1990" max="2030" step="1" value="2014" id="histInputY">
                    <select name="lib_name" style="padding:0px;height:25px;margin-top:5px" class="form-control" id="hlibY">
                      <option value="COE-Library" id="hCOEY">COE-Library</option>
                      <option value="SET-Library" id="hSETY">SET-Library</option>
                    </select>
                    <button id="historyButtonY" type="button" class="btn btn-primary">Submit</button>
                  </form>
                </div>
              </div>
          </li>
      </ul>

    </div>
    <div id="data-container" class="col-md-9">
      <div class='panel panel-info'>
        <div id='panel_heading' class='panel-heading'>
        </div>
        <div id="panel_body" class='panel-body'>
        </div>
      </div>
    </div>
  </div>
</div>
{{ include 'libman/modals/bookInfo.html'}}
{{ include 'libman/modals/login.html'}}
{{ include 'libman/modals/confirmation.html'}}