<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
      <link href="../static/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <center>
      <div id="header">
        <h1>Welcome to Library Management</h1>
      </div>
      <div style="min-width:300px;max-width:600px">
        <table id="data-container" class="table table-bordered">
          <tr>
            <th style="text-align:center">Book Title</th>
          </tr>
          <tr><td onClick='getSpecificBook("1")'>The Legend of Sleepy Hollow and Other Tales</td></tr>
        </table>
      </div>
    </center>

    <div class="modal fade" id="bookInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">The Legend of Sleepy Hollow and Other Tales</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-4">
                <img src="http://ecx.images-amazon.com/images/I/51i1XrIJIiL._SX200_.jpg" alt="book_image" height="240" width="180" />
              </div>
              <div class="col-md-8">
                <ul class="list-group">
                  <li class="list-group-item"><b>ISBN :</b> <span id="isbn">09059366722</span></li>
                  <li class="list-group-item"><b>Publisher:</b> <span id="publisher">Random House Childrens Books</span></li>
                  <li class="list-group-item"><b>Author:</b> <span id="author">Irving, Washington; Rackham, Arthur</span></li>
                  <li class="list-group-item"><b>Library:</b> <span id="library">CED library</span></li>
				  <li class="list-group-item"><b>Status:</b> <span id="status">Not Available</span></li>
                </ul>
                <div class="list-group">
                  <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">Description</h4>
                    <p class="list-group-item-text" id="description">Dust Cover Missing. Book shows minor use. Cover and Binding have minimal wear and the pages have only minimal creases.</p>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
	{{import os}}
	<script src="../static/js/jquery-2.1.1.min.js"></script>
	<script src="../static/js/bootstrap.min.js"></script>
	<script src="../static/js/libman/getBooks.js"></script>
	<script src="../static/js/libman/getSpecificBook.js"></script>
	<script src="../static/js/libman/getBookAuthors.js"></script>
  </body>
</html>
