<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
      <link href="{{=URL('static','css/bootstrap.min.css')}}" rel="stylesheet">
      <link href="{{=URL('static','toastr/toastr.min.css')}}" rel="stylesheet">
      <link href="{{=URL('static','css/libman/libman.css')}}" rel="stylesheet">
      <!-- <link href="{{=URL('static','selectize/css/selectize.bootstrap3.css')}}" rel="stylesheet"> -->
      <title>Library Management</title>
  </head>
  <body>
  {{ include 'libman/nav.html'}}
  <div class="content">
    <div class="container">
      {{include}}
    </div>
  </div>


  <script type="text/javascript">var local_site = 'http://{{=request.env.http_host + "/" + request.application}}/'</script>
  <script src="{{=URL('static','js/jquery-2.1.1.min.js')}}"></script>
  <script src="{{=URL('static','js/bootstrap.min.js')}}"></script>
  <script src="{{=URL('static','js/libman/0libman-event-binder.js')}}"></script>
  <script src="{{=URL('static','js/libman/getBooks.js')}}"></script>
  <script src="{{=URL('static','js/libman/getSpecificBookInfo.js')}}"></script>
  <script src="{{=URL('static','js/libman/getBookAuthors.js')}}"></script>
  <script src="{{=URL('static','js/libman/borrowBook.js')}}"></script>
  <script src="{{=URL('static','js/libman/returnBook.js')}}"></script>
  <script src="{{=URL('static','js/libman/searchBookByTitle.js')}}"></script>
  <script src="{{=URL('static','js/libman/searchBookByISBN.js')}}"></script>
  <script src="{{=URL('static','js/libman/searchBookByAuthor.js')}}"></script>
  <script src="{{=URL('static','js/libman/searchBook.js')}}"></script>
  <script src="{{=URL('static','js/libman/session.js')}}"></script>

  <script src="{{=URL('static','toastr/toastr.min.js')}}"></script>
  <script src="{{=URL('static','js/libman/messageAndConfirmation.js')}}"></script>
  <!-- <script src="{{=URL('static','selectize/js/standalone/selectize.min.js')}}"></script> -->
  </body>
</html>
